body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#app > div {
    height: 100%;
}

#title-bar {
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#title-bar .toolbar {
    margin-left: auto;
    margin-right: 16px;
}

#title-bar button {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 0;
    outline: none;
    transition: background 0.5s;
    -webkit-app-region: no-drag;
}

#title-bar .close {
    border: #e53935 solid 2px;
    background: #e53935;
}
#title-bar .close:hover {
    background: #ef5350;
}

#title-bar .mini-size {
    border: #43A047 solid 2px;
    background: #43A047;
}

#title-bar .mini-size:hover {
    background: #66BB6A;
}

.contents {
    color: white;
    height: 100%;
    margin-top: -48px;
    padding-top: 48px;
    box-sizing: border-box;
    display: flex;
}

.tabs {
    min-width: 200px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.tab-contents {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.tab-contents > div {
    height: 100%;
    transition: all 0.2s;
    transform: translateY(0)
}

.tabs > div, .tab-contents .block > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

.tab-contents .block {
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.block > div {
    box-sizing: border-box;
    padding: 10px;
}

.block > div > div {
    margin-top: -43px;
    padding-top: 53px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.block h1 {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid white;
    -webkit-user-select: none;
    cursor: default;
}

.tabs .tab {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.tab a {
    -webkit-user-select: none;
    cursor: default;
}

.tab:hover {
    background: rgba(255, 255, 255, 0.1);
}

.tab.focus {
    background: rgba(255, 255, 255, 0.2);
}

#preview {
    height: 100%;
}

#preview .toolbar {
    height: 64px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    align-items: center;
}

#new-wallpaper {
    padding: 10px;
    margin-left: auto;
    border: 3px solid white;
    color: white;
    background: none;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: content-box;
}

@keyframes loading {
	0% {
		transform: rotateY(0deg);
	}
	
	100% {
		transform: rotateY(180deg);
	}
}

#new-wallpaper:hover {
    background: rgba(255, 255, 255, 0.2);
}

#new-wallpaper:active {
    background: none;
    transition: none;
}

#new-wallpaper:disabled {
    cursor: progress;
}

#new-wallpaper > div {
    transition: all 0.5s;
}

#new-wallpaper:disabled > div {
    background: white;
    animation: loading 1s infinite ease;
}

#wallpaper-history {
    height: 100%;
    padding-bottom: 64px;
    margin-bottom: -64px;
    box-sizing: border-box;
}

#wallpaper-history > div {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    display: flex;
    -webkit-user-select: none;
}

#wallpaper-history img {
    height: 100%;
    margin-right: 5px;
}


#wallpaper-history img:last-child {
    margin-right: 0;
}
