body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

input {
    background: white;
    border: none;
    outline: none;
    padding: 0 0.2em;
    height: 19px;
    font-size: 14px;
}

label.comment {
    background: black;
    display: inline-flex;
    -webkit-user-select: none;
}

label.comment a {
    padding: 0 0.2em;
}

.contents {
    color: white;
    height: 100%;
    margin-top: -48px;
    padding-top: 48px;
    box-sizing: border-box;
    display: flex;
}

.tabs {
    min-width: 200px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.tab-contents {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.tab-contents > div {
    height: 100%;
    transition: all 0.2s;
    transform: translateY(0)
}

.tabs > div, .tab-contents .block > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

.tab-contents .block {
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.block > div {
    box-sizing: border-box;
    padding: 10px;
}

.block > div > div {
    margin-top: -43px;
    padding-top: 53px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.block h1 {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid white;
    -webkit-user-select: none;
    cursor: default;
}

.tabs .tab {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.tab a {
    -webkit-user-select: none;
    cursor: default;
}

.tab:hover {
    background: rgba(255, 255, 255, 0.1);
}

.tab.focus {
    background: rgba(255, 255, 255, 0.2);
}

.btn {
    border: 2px solid white;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    color: white;
    background: none;
    outline: none;
    cursor: pointer;
}

.btn a {
    -webkit-user-select: none;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1em;
    line-height: 1em;
}

.btn:hover:not([disabled]) {
    background: rgba(255, 255, 255, 0.2);
}

.btn:active {
    background: none;
}

.btn:disabled {
    background: gray;
    cursor: not-allowed;
}

#app {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#app > div {
    height: 100%;
}

#title-bar {
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#title-bar .toolbar {
    margin-left: auto;
    margin-right: 16px;
}

#title-bar button {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 0;
    outline: none;
    transition: background 0.5s;
    -webkit-app-region: no-drag;
}

#title-bar .close {
    border: #e53935 solid 2px;
    background: #e53935;
}
#title-bar .close:hover {
    background: #ef5350;
}

#title-bar .mini-size {
    border: #43A047 solid 2px;
    background: #43A047;
}

#title-bar .mini-size:hover {
    background: #66BB6A;
}

#preview {
    height: 100%;
}

#preview .toolbar {
    height: 64px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    align-items: center;
}

#new-wallpaper {
    padding: 10px;
    margin-left: auto;
    border: 3px solid white;
    color: white;
    background: none;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: content-box;
}

@keyframes loading {
	0% {
		transform: rotateY(0deg);
	}
	
	100% {
		transform: rotateY(180deg);
	}
}

#new-wallpaper:hover {
    background: rgba(255, 255, 255, 0.2);
}

#new-wallpaper:active {
    background: none;
    transition: none;
}

#new-wallpaper:disabled {
    cursor: progress;
}

#new-wallpaper > div {
    transition: all 0.5s;
}

#new-wallpaper:disabled > div {
    background: white;
    animation: loading 1s infinite ease;
}

#wallpaper-history {
    height: 100%;
    padding-bottom: 64px;
    margin-bottom: -64px;
    box-sizing: border-box;
}

#wallpaper-history > div {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    display: flex;
    -webkit-user-select: none;
}

#wallpaper-history img {
    height: 100%;
    margin-right: 5px;
}


#wallpaper-history img:last-child {
    margin-right: 0;
}

#generator-setting {
    padding-bottom: 10px;
}

#generator-setting p {
    margin-bottom: 5px;
    cursor: default;
    -webkit-user-select: none;
}

#generator-setting .generator-preview > div {
    width: 160px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-user-select: none;
}

#generator-setting .generator-preview .footer {
    width: 100%;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
}

#generator-setting .generator-preview .right {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

#generator-setting .color-group-list {
    display: flex;
    overflow-x: auto;
}

#generator-setting .color-group-preview {
    margin-right: 10px;
}

#generator-setting .color-group-preview:last-child {
    margin-right: 10px;
}

#generator-setting .color-group-preview > div {
    width: 200px;
    height: 50px;
    position: relative;
}

#generator-setting .color-group-preview input[type="checkbox"] {
    position: absolute;
    bottom: 0;
    right: 0;
}

#generator-setting .color-group-preview .background,
#generator-setting .color-group-preview .foreground,
#color-setting .color-group .background,
#color-setting .color-group .foreground {
    width: 100%;
    height: 50%;
    display: flex;
}

#generator-setting .color-group-preview .color,
#color-setting .color-group .color {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#color-setting > div {
    height: 100%;
    transition: transform 0.2s;
    transform: translateY(0);
}

#color-setting .list {
    height: 100%;
    overflow: auto;
}

#color-setting {
    height: 100%;
    overflow-y: hidden;
}

#color-setting .color-group {
    width: 200px;
    height: 50px;
    margin: 5px;
    display: inline-table;
    cursor: pointer;
}

#color-setting .editor {
    height: 100%;
    overflow: auto;
}

#color-setting .editor > div {
    min-height: 100%;
    overflow: auto;
    position: relative;
}

#color-setting .editor .box {
    padding-bottom: 3em;
    margin-bottom: 10px;
}

#color-setting .editor input {
    width: 4em;
}

#color-setting .editor .color {
    height: 19px;
    font-size: 14px;
    width: 8em;
}

#color-setting .editor .buttons {
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    display: flex;
    position: absolute;
    bottom: 0;
}

#color-setting .editor .buttons .btn {
    width: 100%;
    height: 100%;
}

#color-setting .editor .buttons .delete:hover:not([disabled]) {
    background-color: red;
}